.favorite{
    overflow: hidden;
    position: relative;

    .bg{
        position: absolute;
        z-index: 97;
        top: 45%;
        left: -10%;
    }


    .container{
        .top{
            padding: 5rem;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10rem;


            .left{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 4rem;
                flex: 1;
                
                .left-top, .left-bottom{
                    .headings{
                        margin-bottom: 2rem;
                        h2{
                            font-size: 4.7rem;
                            font-weight: 700;
                            line-height: 5.5rem;
                            letter-spacing: 0em;
                            text-align: left;
                            
                        }
                    }
                    
                    .desc{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 2rem;
                        
                        p{
                            font-size: 2.5rem;
                            font-weight: 400;
                            line-height: 2.9rem;
                            letter-spacing: 0em;
                            text-align: left;
                            z-index: 99;
                            
                            span{
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            
            .right{
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                .img{
                    width: 58.2rem;
                    height: 67.1rem;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .bottom{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding: 5rem;

            .bottom-left{
                flex: 1;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;

                .img{
                    max-width: 78.495rem;
                    margin: 0 auto;
    
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .bottom-right{
                z-index: 99;
                display: flex;
        
                flex-direction: column;
                flex: 1;
                gap: 4rem;
                // border: 1px solid red;
    
                    .headings{
                        // border: 1px solid red;
                        h2{
                            font-size: 4.7rem;
                            font-weight: 700;
                            line-height: 5.5rem;
                            letter-spacing: 0em;
                            text-align: left;
    
                        }
                    }
    
                    .desc{
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        gap: 2rem;
    
                        p{
                            font-size: 2.5rem;
                            font-weight: 400;
                            line-height: 2.9rem;
                            letter-spacing: 0em;
                            text-align: left;

                            span{
                                font-weight: bold;
                            }
    
                        }
                    }
                
            }

        }
    }
}


@media screen and (max-width: 768px) {
 .favorite{

    .bg{
        top: 70%;
        left: -30%;
        img{
            width: 108.884rem;
            height: 54.453rem;
        }
    }
    .container{
        .top{
            .left{
                .left-top, .left-bottom{
                 
                }
            }

            .right{
                max-width: 58.2rem;
                margin: 0 auto;

                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .bottom{
            flex-direction: column;

            .bottom-left{

            }
        }
    }
 }  
}

@media screen and (max-width: 480px) {
 .favorite{
    .container{
        .top{
            padding: 2rem;
        }
    }
 }  
}
